{
  "presets": [
    "flow",
    [
      "env",
      {
        "useBuiltIns": false,
        "modules": false,
        "targets": {
          "node": "current",
          "loose": true
        }
      }
    ]
  ],
  "plugins": ["transform-object-rest-spread", "transform-class-properties"]
}
