{
  "presets": [
    "flow",
    [
      "env",
      {
        "useBuiltIns": false,
        "modules": "commonjs",
        "targets": {
          "node": "current",
          "loose": true
        }
      }
    ]
  ],
  "plugins": [
    "transform-runtime",
    "transform-object-rest-spread",
    "transform-class-properties"
  ]
}
